/* Configuracões globais da página */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Variaveis do css(Onde conterão as informações de estilo como: cores e fontes usados na página) */
:root{

}
/* Estilo geral da página */
html, body{
    width: 100%;
    height: 100vh;
}
body{
    overflow: hidden;
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
        "slideBar menuSuperior"
        "slideBar painelPrincipal"
    ;
}
.slideBar{
    grid-area: slideBar;
    background-color:  violet;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0px 5px #bababa;
    color: #000000;
}
.slideBar > .logo{
    margin: 25px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slideBar > .logo > img{
    width: 50px;
    height: 40px;
}
.slideBar > .logo > h1{
    font-size: 1.5rem;
    text-align: center;
}
.slideBar > p{
    font-size: .8rem;
    text-align: center;
    margin-bottom: 40px;
}
.slideBar > .itensMenu{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
    height: 100%;
}
.slideBar > .itensMenu > a{
    padding: 10px;
    border-radius: 40px 0px 0px 40px;
    background-color:  #70005d;
    text-decoration: none;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    transition-duration: 1s;
    color: #ffffff;
    font-weight: bold;
}
.slideBar > .itensMenu > a:hover{
    background-color: #10a5b9a9;
    color: #ffffff;
}
.slideBar > .itensMenu > .sair{
    margin-top: auto;
    margin-bottom: 20px;
}
.slideBar > .itensMenu > .sair:hover{
    background-color: #ff0000;
}
.menuSuperior{
    grid-area: menuSuperior;
    background-color:   violet;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px #e5e7eb;
}
.menuSuperior > .descricaoMenu > h1{
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0px 0px 0px;
}
.menuSuperior > .descricaoMenu > p{
    font-size: .8rem;
    text-align: center;
    margin-left: 10px;
    letter-spacing: 2px;
}
.menuSuperior > .painelEstadoUsuario{
    display: flex;
    margin-right: 10px;
    align-items: center;
}
.menuSuperior > .painelEstadoUsuario > .imagem{
    width: 60px;
    height: 60px;
    border: 3px ridge #00000060;
    box-shadow: 0px 0px 5px #00000060;
    border-radius: 50%;
    margin-right: 10px;
}
.menuSuperior > .painelEstadoUsuario > .imagem > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
}
.menuSuperior > .painelEstadoUsuario > .imagem > .status{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px green;
    position: relative;
    top: -17.5px;
    left: 43px;
    transform: translate(17.5px -43px);
    background-color: #10b981;
}
.painelPrincipal{
    grid-area: painelPrincipal;
    background-color: #10a5b9;
}
i{
    border: 3px groove #e5e7eb;
    padding: 8px 6px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}


/* ESTILO DO FILTRO DE PESQUISA */

.painelFiltro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #70005d;
    margin: 10px;
    border-radius: 40px;
}
.painelFiltro > h1{
    font-size: 1.5rem;
    color: #ffffff;
}
.painelFiltro > form > label {
    border: 2px solid #00000050;
    display: flex;
    border-radius: 20px;
    
}
.painelFiltro > form > label > input{
    padding: 10px;
    border: none;
    outline: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.1rem;
    
}
.painelFiltro > form > label > i.fa-search{
    border-radius: 0;
    border: none;
    margin: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #00e1ff;
    color: #70005d;
    padding-left: 10px;
    padding-right: 20px;
    text-align: center;
    font-size: 1.5rem;
}