.limiteTabela{
    height: 480px;
    overflow-x: auto;
    margin-top: 10px;
}
.limiteTabela > table{
    width: 100%;
    border-spacing: 10px;
}
.limiteTabela > table > thead{
    color: #ffffff;
}
.limiteTabela > table > thead > tr > th{
    padding: 20px 0px;
    border-radius: 10px;
    background-color: #70005d;
}
.limiteTabela > table > tbody{
    color: #000000;
}
.limiteTabela > table > tbody > tr > td{
    padding: 10px 0px;
    border: 2px solid #00000050;
    border-radius: 10px;
    text-align: center;
}
.idAcao{
    padding: 10px 30px;
    border: 2px solid rgba(128, 128, 128, 0.58);
    border-radius: 10px;
    font: normal normal 1.2rem arial;
    background-color: #70005d;
    color: #ffffff;
    transition-duration: 1s;
}
.idAcao:hover{
    background-color: white;
    color: #70005d;
}